.App {
  text-align: center;
}

.navbar-input {
  width: 100%;
  padding: 8px;
  border-radius: 7px;
  font-size: 18px;
}

table {
  border: 2px solid #0f1756;
  width: 98%;
  height: auto;
  margin: 10px;
}

th {
  border-bottom: 1px solid black;
  background-color: #acb4f6;
  padding: 15px;
}

td {
  padding: 10px;
  text-align: center;
}

.btn {
  border: 1px solid #0f1756 !important;
  background: #acb4f6 !important;
  border-radius: 5px;
  margin: 10px;
}
.edit-margin{
  margin: 0px !important;
}

tr {
  border-bottom: 1px solid #0f1756 !important;
}

.stop-watch {
  font-weight: 700;
  background: #acb4f6;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 5px;
}